.container {
	box-sizing: border-box;
	height: 450px;
	width: 175px;
	padding: 10px 0;
	border: 7px solid rgb(54, 54, 54);
	border-radius: 15px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
